.block1 {
    display: flex;
    flex-wrap: wrap;

}

.block2 {
    height: 50px;
    width: 100%;
    background-color: grey;
}

.block3 {
    display: flex;
    flex-wrap: wrap;

}

.block4 {

}

.block5 {
    display: flex;
    flex-wrap: wrap;


}


.ruta1 {
    background-color: rebeccapurple;
}

.ruta2 {
    background-color: blue;
}

.ruta3 {
    background-color: palevioletred;

}

.ruta4 {
    background-color: powderblue;

}

.ruta5 {
    background-color: khaki;
}

.ruta6 {
    background-color:lightgreen
}

