//jag har samlat alla färgkoder som används i projektet
$darkgrey: rgb(59, 59, 59);
$lightgrey: rgb(243, 240, 240);
$lightblue: rgb(183, 219, 247);
$white: rgb(255, 255, 255);
$green: rgb(139, 197, 139);
$red: rgb(255, 103, 103);

.body, .summa, .beskrivning, .button {
    font-family: 'Asap', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Work Sans', sans-serif;
}